<h1>Recenzija naucnog rada</h1>
<div class="row">
<div  class="col-sm-6">
	<form ng-submit=submit()>
	
	    <div align:"left">
			<label>Recenzija: </label>
			<input type="text"  value="Recenzija br 1 na rad:" ng-model = "title.typeOfReview"/></br>
			</br>
			<label>Rad za recenziranje: </label>
			<input type="text"  value="" ng-model = "title.manuscriptTitle"/><br>
			</br>
		</div>
		<div align:"left">
			<label>Status rada: </label>
			<input type="text"  value="Accept, Minor, Major" ng-model = "title.revisionRecommend"/><br>
		</div>
		</br>

		<fieldset>
			<legend>Informacije recenzije: </legend>
			<div>
				<label>Autor recenzije(recenzent): </label>
				<input type="text"  value="" ng-model = "info.reviewAutor"/><br>
			</div>
			<div>
				<label>Autor rada: </label>
				<input type="text"  value="" ng-model = "info.manuscriptAutor"/><br>
			</div>
			<div>
				<label>Ocena rada(score): </label>
				<input type="text"  value="" ng-model = "info.reviewScore"/><br>
			</div>
		</fieldset>
		
		<p>Osnovni delovi recenzije: Introduction, Merits, Critique, Discussion, References. </p>
		</br>
		<div>
			<label>Naslov dela recenzije: </label>
			<input type="text"  value="Introduction, Merits, Critique, Discussion, References" ng-model = "reviewPart1.partTitle"/><br>
		</div>
		<div>
			<label>Tekst: </label>
			</br>
			<textarea ng-model = "reviewPart1.partText"   rows="8" cols="50">
				Tekst.
			</textarea>
		</div>
		</br>
		
		<div>
			<label>Naslov dela recenzije: </label>
			
			<input type="text"  value="Introduction, Merits, Critique, Discussion, References" ng-model = "reviewPart2.partTitle"/><br>
		</div>
		<div>
			<label>Tekst: </label>
			</br>
			<textarea ng-model = "reviewPart2.partText"  rows="8" cols="50">
				Tekst.
			</textarea>
		</div>
		</br>
		
		<div>
			<label>Naslov dela recenzije: </label>
			<input type="text"  value="Introduction, Merits, Critique, Discussion, References" ng-model = "reviewPart3.partTitle"/><br>
		</div>
		<div>
			<label>Tekst: </label>
			</br>
			<textarea ng-model = "reviewPart3.partText" rows="8" cols="50">
				Tekst.
			</textarea>
		</div>
		</br>
		
		<div>
			<label>Naslov dela recenzije: </label>
			<input type="text"  value="Introduction, Merits, Critique, Discussion, References" ng-model = "reviewPart4.partTitle"/><br>
		</div>
		<div>
			<label>Tekst: </label>
			</br>
			<textarea ng-model = "reviewPart4.partText" rows="8" cols="50">
				Tekst.
			</textarea>
		</div>
		</br>
		
		<div>
			<label>Naslov dela recenzije: </label>
			<input type="text"  value="Introduction, Merits, Critique, Discussion, References" ng-model = "reviewPart5.partTitle"/><br>
		</div>
		<div>
			<label>Tekst: </label>
			</br>
			<textarea ng-model = "reviewPart5.partText" rows="8" cols="50">
				Tekst.
			</textarea>
		</div>
		</br>
		
		<input type="submit" value = "Dodaj recenziju"/>
	</form>
</div>

<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Vasi radovi
					<button type="button" class="btn btn-default btn-sm"
						ng-click="initAddRad()">
						<span class="glyphicon glyphicon-plus"></span> Novi Rad
					</button>
				</div>
				<div class="panel-body">
	
					<div class="alert alert-info margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="r in recenzije">
								<td>{{$index+1}}</td>
								<td>{{r.title.typeOfReview}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>